@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

html,body{
    font-family: 'Lato', sans-serif;
}

.nav-btn::before{
    content: '';
    width: 100%;
    height: 0;
    background: rgba(50, 62, 231, 0.845);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.2s;
}
.nav-btn:hover::before{
    height: 100%
}
.that{
    color: transparent;
}
.this:focus ~ .that{
    border-color: rgba(37,99,235,1);
    color: gray;
}
.that:hover{
    color: gray;
}

.navani{
    position: fixed;
    backdrop-filter: blur(10px);
    animation: ani 0.7s ease-out forwards;
}
@keyframes ani {
    0%{
        top: -200px;
    }
    100%{
        top: 0
    }
}
@tailwind base;
@tailwind components;
@tailwind utilities;